.container-cover {
  height: 500px;
}

.container-cover::before {
  height: 100%;
}

.container-info-cover {
  height: 500px;
}

.container-content {
    width: 95%;
    margin: auto;
    margin-top: 40px;
    overflow-x: hidden;
    position: relative;
  }
  
  .container-aside {
    
    display: inline-flex;
    justify-content: center;
    transition: transform 0.3s; /* Agregado */
  }
  
  .container-aside aside {
    width: 320px;
    border-radius: 6px;
    box-shadow: 0 0 20px -20px black;
    overflow: hidden;
    margin-left: 40px;
    margin-top: 20px;
    flex-shrink: 0; /* Agregado */
  }


  
  /* Resto del CSS */
.container-articles{
    margin-left: 10;
}  
  /* Resto del CSS */
  
  
  .container-aside aside img {
    width: 100%;
    height: 300px;
  }
  
  .container-aside aside h3,
  .container-aside aside p {
    margin-top: 20px;
    padding: 0 20px;
  }
  
  .container-aside aside button {
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px 50px;
    font-size: 16px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
  }
  
  .container-aside aside button:hover {
    opacity: 0.7;
  }
  
  .btn-side{
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 60px;
    height: 590.22px;
    font-size: 60px;
    z-index: 1;
    background: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    position: absolute;
    top: 660px;
  }

  .btn-side:hover{
    color: rgb(203, 0, 0);
  }

  #scroll-right-button{
    /*Colocar el boton pegado a la parte izquierda de la pagina*/
    
    left: 0;
  }

  #scroll-left-button{
    /*Colocar el boton pegado a la parte izquierda de la pagina*/
    
    left: 95%;
  }



  @media screen and (min-width:112px){
    .container-aside aside:first-child {
        margin-left: 15%;
        min-width: 320px; /* Asegura que el primer aside siempre tenga un ancho mínimo de 320px */
      }
  }

  @media screen and ()