@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
}


  body{
    background: #333;
  }


/*MENU*/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #333;
  box-shadow: 0 4px 25px -22px black;
  z-index: 2;
}
.header-content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.logo {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo h1 {
  color: white;
}
.logo h1 b {
  color: red;
}
.menu {
  height: 80px;
}
.menu nav {
  height: 100%;
}
.menu nav ul {
  height: 100%;
  display: flex;
  list-style: none;
}
.menu nav ul li {
  height: 100%;
  margin: 0 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}
.menu nav ul li a {
  color: white;
}
.menu nav ul li a:hover {
  color: red;
  transition: color 500ms;
}
.menu-selected:before {
  content: "";
  width: 100%;
  height: 4px;
  background: red;
  position: absolute;
  top: 0;
  left: 0;
}
.menu .text-menu-selected {
  color: red;
}

.menu nav ul li a i {
  display: none;
}

#icon-menu{
  width: 50px;
  height: 50px;
  position: absolute;
  right: 20px;
  top: 16px;
  font-size: 20px;
  background: #333;
  border-radius: 100%;
  color: #bbbbbb;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#icon-menu:hover{
  background: #545454;
}
/* PORTADA */

.container-all{
  background: #fff;
}

.container-cover {
  width: 100%;
  height: 400px;
  position: relative;
  margin-top: 80px;
  background-image: url(../IMG/home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.container-cover::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(119, 0, 0, 0.401);
  position: absolute;
  top: 0;
  left: 0;
}

.container-info-cover {
  max-width: 800px;
  height: 400px;
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.container-info-cover h1 {
  font-family: "Source Sans 3", sans-serif;
  font-size: 60px;
  font-weight: 500px;
  color: #fff;
  margin-bottom: 20px;
}

.container-info-cover p {
  font-family: "Source Sans 3", sans-serif;

  font-size: 20px;
  font-weight: 500px;
  color: #fff;
}

/* ARTICLE */

.container-content {
  width: 1200px;
  margin: auto;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

article {
  width: 100%;
  padding: 20px;
  padding-bottom: 40px;
  box-shadow: -10px 0 20px -30px black;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}

article::before {
  content: "";
  width: 100%;
  height: 6px;
  position: absolute;
  top: 0;
  left: 0;
  background: red;
}

article h1 {
  margin-top: 20px;
  font-weight: 500;
  font-size: 40px;
}

article h2 {
  margin-top: 20px;
  font-weight: 500;
  font-size: 35px;
}

article p {
  margin-top: 20px;
  font-size: 18px;
  color: #3c3c3c;
  text-align: justify;
  line-height: 1.5;
}

article img {
  width: 100%;
  margin-top: 20px;
}

/* aside other articles */
.container-aside a {
  color: black;
}

.container-aside a:hover{
  color: rgb(185, 0, 0);
}

.container-aside article {
  display: flex;
}

.container-aside aside {
  width: 320px;
  border-radius: 6px;
  box-shadow: 0 0 20px -20px black;
  overflow: hidden;
  margin-left: 40px;
  margin-top: 20px;
}

.container-aside aside img {
  width: 100%;
  height: 300px;
  
}

.container-aside aside h3,
.container-aside aside p {
  margin-top: 20px;
  padding: 0 20px;
}

.container-aside aside button {
  margin-top: 20px;
  margin-left: 20px;
  padding: 10px 50px;
  font-size: 16px;
  background: red;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.container-aside aside button:hover {
  opacity: 0.7;
}

/*Footer - pie de pagina */

.container-footer {
  width: 100%;
  padding: 40px 0;
  background: #f7f7f7;
  margin-top: 40px;
}

.container-footer footer {
  max-width: 1200px;
  margin: auto;
}

.container-footer footer .logo-footer {
  text-align: center;
}

.container-footer footer .logo-footer img {
  width: 100px;
}

.container-footer footer .redes-footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.container-footer footer .redes-footer .icon-redes-footer {
  font-size: 60px;
  margin: 20px;
  background: #efefef;
  color: #333;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

footer .redes-footer .fa-facebook:hover{
    color: #41579A;
    background: white;
    transition: color 500ms;
  }

  footer .redes-footer .fa-github:hover{
    color: #000000;
    background: white;
    transition: color 500ms;
  }
    
footer .redes-footer .fa-linkedin:hover{
  color: #41579A;
  background: white;
  transition: color 500ms;
}


.container-footer footer hr{
  margin-top: 20px;
  border: none;
  height: 2px;
  background: #cacaca7a;
}

.container-footer h4{
  text-align: center;
  margin-top: 40px;
  color: #8e8e8e;
  font-weight: 500 ;
}

/* Responsive design */

@media screen and (max-width:1220px){
  .header-content, .container-content, .container-footer{
    max-width: 1000px;
    padding: 0 20px;
  }
}

@media screen and (max-width:1020px){
  .container-content{
    width: 100%;
    flex-direction: column;
  }

  article{
    box-shadow: 0 0 0 0;
  }

  .container-aside{
    display: flex;
    justify-content: center;
  }

  .container-aside aside{
    max-width: 300px;
    margin: 10px;
  }
}

@media screen and (max-width: 800px){


  .container-all{
    transition: all 300ms cubic-bezier(1,0,0,1);
}
  .move-container-all{
    transform: translateX(300px);
  }

  #icon-menu{
    display: flex;
  }

  .menu{
    width: 0px;
    height: 100vh;
    position: fixed;
    top: 80px;
    left: 0;
    background: #333;
    overflow: hidden;
    box-shadow: 10px 0 20px -25px black;
    transform: translateX(-350px);
    transition: all 300ms cubic-bezier(1,0,0,1);
  }

  .show-lateral{
    width: 300px;
    transform: translateX(0);
  }

  .menu nav ul{
    flex-direction: column;
  }

  .menu nav ul li{
    max-width: 200px;
    height: 50px;
    justify-content: flex-start;
  }

  .menu-selected:before{
    width: 0;
  }

  .menu nav ul li a{
    margin-top: 40px;
  }

  .menu nav ul li a i{
    width: 20px;
    display: inline-block;
    margin-right: 10px;
    color: red;
  }

  #icon-menu {
    display: flex;
  }

  .container-aside{
    flex-wrap: wrap;
  }

}

